# Flutter / Dart
.dart_tool/
.packages
.pub/
build/
flutter_*.png
.flutter-plugins
.flutter-plugins-dependencies

# Android
android/.gradle
android/local.properties
android/key.properties
android/app/debug
android/app/profile
android/app/release

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/App.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh

# IDEs
.vscode/
.idea/
*.iml

# Environment / secrets
lib/config/supabase_config.dart
